<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysUserMapper">

    <resultMap id="SysUserResult" type="com.example.demo.domain.SysUser">
        <result property="userId" column="userid"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="selectUserByUserName" parameterType="string" resultMap="SysUserResult">
        select userid,username,password
        from SysUser
        <where>
            <if test="userName!=null">and username = #{userName}</if>
        </where>
    </select>

</mapper>